/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #222222;
  --tertiary-color: #ffffff;
  --quaternary-color: #737373;
  --color-bg-1: #eee7d5;
  --color-bg-2: #d9e7fb;
  --color-bg-3: #e8ebe6;
  --color-bg-4: #f1f2f1;
  --color-bg-5: #333b3a;
  --color-bg-6: #746866;

  --primary-text-color: #1d1d1d;
  --secondary-text-color: #ffffff;
  --border-color: #e4e7eb;
}

/* Suisse Intl (regular) */
@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/suisse-intl-regular.ttf") format("truetype");
  font-weight: 400;
}
/* Gill Sans (regular) */
@font-face {
  font-family: "Gill sans";
  src: url("../fonts/Gill\ Sans.otf") format("truetype");
  font-weight: 400;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  font-family: "Suisse Intl", sans-serif;
  margin: 0;
}

/* meldingsbalk */
body > section:nth-of-type(1) {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0.75em 1em;
  text-align: center;
  font-size: 0.875em;
  top: 0;
}

/* tekst + link */
body > section:nth-of-type(1) p {
  margin: 0;
  line-height: 1.4;
}

body > section:nth-of-type(1) p a {
  color: #fff;
  text-decoration: underline;
  display: block;
  margin-top: 0.25em;
}
/* Header */
header {
  padding: 0em;
  margin-left: em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-1);
}
/* Header logo */
header > a > svg {
  display: block;
  width: auto;
  margin-top: 1em;
  height: 1.1875em;
  color: #000;
}

/* iconen rechts */
header > ul:first-of-type {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* hamburgermenu open */
header > nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  translate: -100% 0%;
  transition: translate 0.3s;
  background-color: var(--tertiary-color);
}

header > nav.toonMenu {
  translate: 0% 0%;
}
header > nav > ul {
  list-style: none;
  margin: 0 0 0 1.5em;
  padding: 0;
  z-index: 10;
}

/* 1) Kolommen */
header > nav > ul > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 2) h2 kopjes */
header > nav > ul > ul h2 {
  font-size: 0.875em;
  color: var(--quaternary-color);
  font-family: "Suisse Intl";
  font-weight: 400;
  margin: 1.5em 0 0 0;
  padding: 0 0 0.3em 0;
}

/* 3) De lijst in de ul */
header > nav > ul > ul > li {
  margin: 0;
}

/* 3) Alle linkjes in de lijst */
header > nav > ul > ul > li > a {
  display: block;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 400;
  color: #111;
  padding: 0.15em 0;
  letter-spacing: -0.025em;
}

header > ul > li > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Profiel (voor mobiel is hij hidden)*/
header > ul > li:first-child > a > svg {
  display: none;
  color: #000;
  height: 1.8em;
  width: 3em;
}

/* shopping bag ( */
header > ul > li:nth-child(2) > a > svg {
  height: 1.8em;
  width: 3em;
  margin-top: 1em;
  color: #000;
}

/* hamburger menu  */
header > ul > li:nth-child(3) > button > svg {
  height: 1.5em;
  width: 2.5em;
  margin-top: 1em;
  color: black;
}

/* buttons rond */
section:not(:first-of-type) a:first-of-type,
main a:first-of-type {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 0.75em 1em;
  border-radius: 999em;
  border: none;
  line-height: 1;

  background-color: #1e1e1e;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* hover: kleuren omdraaien */
section:not(:first-of-type) a:first-of-type:hover,
main a:first-of-type:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Boek gratis testrit knop */
main > section > a:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: max-content;
  margin: 0 auto;
  padding: 1em 1.3em;
  color: #000;
  text-decoration: none;
}

/* Pijltje naast de boek gratis testrit */
main > section > a:nth-of-type(2) svg {
  width: 0.375rem;
  height: 0.625rem;
  transition: transform 200ms ease;
  vertical-align: middle;
  color: #000;
}

main > section > a:nth-of-type(2) + ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  list-style: none;
  padding: 1em 0;
  margin: 1.5em 0 0;
  border-top: 0.0625em solid #e6e6e6;
}

/* elk item */
main > section > a:nth-of-type(2) + ul > li {
  text-align: center;
  padding: 0 1.25em;
}

/* lijn tussen alle items */
main > section > a:nth-of-type(2) + ul > li + li {
  border-left: 0.0625em solid #dddddd;
}

/* Bovenste regel  */
main > section > a:nth-of-type(2) + ul > li > h4 {
  margin: 0 0 0.25em;
  font-size: 0.6em;
  font-weight: 400;
  color: #6b6b6b;
}

/* onderste regel  */
main > section > a:nth-of-type(2) + ul > li > p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 600;
}
