/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/suisse-intl-regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  --color-text: #111;
  --color-background: #f0eee2;

  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Suisse Intl", sans-serif;
  margin: 0;
}

/* bovenbalk (meldingsbalk) */
section:first-of-type {
  background: #111; /* zwart */
  color: #fff; /* witte tekst */
  margin: 0; /* geen ruimte erboven */
  padding: 0.75em 1em; /* compacte hoogte */
  text-align: center;
  font-size: 0.875em; /* iets kleiner dan body */
  position: sticky; /* blijft bovenaan bij scroll */
  top: 0;
  z-index: 100;
}

/* tekst + link */
section:first-of-type > p {
  margin: 0;
  line-height: 1.4;
}

section:first-of-type > p > a {
  color: #fff;
  text-decoration: underline;
  display: block;
  margin-top: 0.25em;
}

header {
  padding: 0em;
  margin-left: em;
}

/* header + nav */
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo links */
header > nav > a > img {
  display: block;
  width: auto;
}

/* iconen rechts */
header > nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* eerste icoon (user) verbergen op mobiel*/
header > nav > ul > li:first-child {
  display: none;
}

header > nav > ul > li > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* shopping bag = 2e li */
header > nav > ul > li:nth-child(2) > a > img {
  height: 3.5em;
}

/* hamburger menu = 3e li */
header > nav > ul > li:nth-child(3) > a > img {
  height: 2.3em;
}

/* 1) Buttons */
section:not(:first-of-type) a:first-of-type,
main a:first-of-type {
  padding: 10px 22px; /* ruimte binnenin */
  border-radius: 9999px; /* mega rond = pill shape */
  border: none; /* randje weg bij <button> */
  display: inline-block; /* laat <a> als blokje gedragen */
  line-height: 1; /* nette verticale uitlijning */

  /* kleuren zoals in het voorbeeld */
  background-color: #1e1e1e; /* zwart/donkergrijs */
  color: #ffffff; /* witte tekst */

  /* gedrag */
  cursor: pointer; /* handje bij hover */
  text-decoration: none; /* geen streepje bij <a> */

  /* zachte overgang bij hover */
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* 2) Hover: kleuren omdraaien (tekst zwart, achtergrond wit) */
section:not(:first-of-type) a:first-of-type:hover,
main a:first-of-type:hover {
  background-color: #ffffff;
  color: #000000;
}

/* 4) Oefenen met animatie, en dit lijkt nu meer op een knop
klik-feedback: mini-inkrimping voelt “klikbaar” */
section:not(:first-of-type) a:first-of-type:active,
main a:first-of-type:active {
  transform: scale(0.9);
}
