/* Header transparant */
header {
  background-color: transparent;
  position: absolute;
  top: 3.4em;
  left: 0;
  width: 100%;
  z-index: 15;
  padding: 1em 2em;
}

header > a > svg {
  color: var(--primary-color);
}

/* Profiel (voor mobiel is hij hidden)*/
header > ul > li:first-child > a > svg {
  display: none;
  color: var(--primary-color);
}

/* shopping bag  */
header > ul > li:nth-child(2) > a > svg {
  color: var(--primary-color);
}

/* button van de hamburger menu  */
header > ul > li:nth-child(3) > button {
  background-color: transparent;
}

/* hamburger menu  */
header > ul > li:nth-child(3) > button > svg {
  color: var(--primary-color);
}

/* Meldingsbalk blijft zwart */
body > section:first-of-type {
  position: relative;
  z-index: 20;
}

/* Hero section*/
main > section:first-of-type {
  background-image: url("../images/manfiets.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

/* Tekst in hero */
main > section:first-of-type > h1 {
  font-size: 2.5em;
  margin-bottom: 0.3em;
  color: var(--primary-color);
}

main > section:first-of-type > h2 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 0.5em;
  color: var(--primary-color);
}

/* Witte button  */
main > section:first-of-type > a:first-of-type {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  transform: translateY(5em);
}

/* hover: kleuren omdraaien */
main > section:first-of-type > a:first-of-type:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-color);
}

/* Eerste tekst */
main section:nth-of-type(2) > p {
  font-size: 1.3em;
  padding: 1em 1.5em 1em 1.5em;
  font-weight: 400;
}

/* De section zelf */
main > section:nth-of-type(3) {
  position: relative;
  margin: 2em 1.25em;
}

/* Foto-blok bovenaan (decoratief) */
main > section:nth-of-type(3)::before {
  content: "";
  display: block;
  height: 35em;
  background: url("../images/leasecowboy.jpg") center / cover no-repeat;
  border-radius: 0.75em;
  margin-bottom: 1.25em;
}

/* h2, Tekst en knop eronder */
main > section:nth-of-type(3) > h2 {
  font-size: 2.3em;
  margin: 0 0 0.5em 0;
  font-weight: 400;
  color: var(--primary-text-color);
}

main > section:nth-of-type(3) > p {
  line-height: 1.5;
  color: var(--quaternary-color);
  font-weight: 400;
  max-width: 40em;
  margin: 0 0 1em 0;
  font-size: 1em;
}

/* Start nu button */
main > section:nth-of-type(3) > a:first-of-type {
  display: inline-block;
  margin-top: 0.75em;
  padding: 1em 1.25em;
  border-radius: 2em;
  background: var(--primary-text-color);
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 0;
  margin-bottom: 2.5em;
}

main > section:nth-of-type(3) a:first-of-type:hover {
  background-color: var(--tertiary-color);
}

/* pseudo-element voor de “fake” border */
main > section:nth-of-type(3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 94vw;
  height: 0.05em;
  background-color: var(--border-color);
}

/* DE HELE CARROUSEL SECTIE */

main section:nth-of-type(4) {
  padding: 2.5em 1em 3em 1em;
  text-align: center;
}

/* Onze providers */
main > section:nth-of-type(4) h2 {
  font-size: 2.3em;
  margin: 0 0 0.5em 0;
  font-weight: 400;
  color: var(--primary-text-color);
  text-align: left;
}

/* de layout van de carrousel */
main section:nth-of-type(4) ul {
  display: flex;
  gap: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

/* browser’s standaard scrollbalk */
main section:nth-of-type(4) ul::-webkit-scrollbar {
  display: none;
}

main section:nth-of-type(4) ul li {
  list-style: none;
  flex: 0 0 95%;
  scroll-snap-align: start;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  padding: 1em;
  margin: 0;
}

/* Logo's */
main section:nth-of-type(4) li > img {
  display: inline-block;
  color: var(--primary-color);
  width: 4em;
  height: auto;
  margin: 0.5em;
}

/* borderlijn onder elk logo*/
main section:nth-of-type(4) ul li > img + p::before {
  content: "";
  position: absolute;
  top: 4em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.05em;
  background-color: var(--border-color);
}

/* De teksts */
main section:nth-of-type(4) li p {
  color: var(--primary-text-color);
  font-size: 1.2emem;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 3em;
  text-align: left;
}

/* Begin hier button */
main > section:nth-of-type(4) > a:first-of-type {
  display: inline-block;
  text-align: center;

  margin: 3em auto 0 auto;
  padding: 1em 1.25em;
  border-radius: 2em;
  background: var(--primary-text-color);
  color: var(--primary-color);
  text-decoration: none;
}

main > section:nth-of-type(4) a:first-of-type:hover {
  background-color: var(--tertiary-color);
}

/* IMG + EEN OPTIE VOOR ELKE FIETSER  */

/* De section zelf */
main > section:nth-of-type(5) {
  position: relative;
  margin: 2em 1.25em;
}

/* Foto-blok bovenaan (decoratief) */
main > section:nth-of-type(5)::before {
  content: "";
  display: block;
  height: 37em;
  background: url("../images/lease-a-cowboy.jpg") center / cover no-repeat;
  border-radius: 0.75em;
  margin-bottom: 1.25em;
}

/* Een optie voor elke fietser */
main > section:nth-of-type(5) h2 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  font-weight: 400;
  color: var(--primary-text-color);
}

/* De teksts */
main section:nth-of-type(5) p {
  color: var(--quaternary-color);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}

/* FAQ summary*/

main > section:nth-of-type(6) {
  margin: 0 0.5em 0 1.5em;
}

/* FAQ sectie */
main > section:nth-of-type(6) {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

/* Titel */
main > section:nth-of-type(6) > h2 {
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}

/* Vraagblokken */
main > section:nth-of-type(6) details {
  border-top: 0.0625em solid var(--border-color);
  padding: 1.25em 0;
  interpolate-size: allow-keywords; /*  hier begint de animatie */
}

main > section:nth-of-type(6) details:last-of-type {
  border-bottom: 0.0625em solid var(--border-color);
}

/* Klikbare vraag */
main > section:nth-of-type(6) summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  font-size: 1.25em;
  font-weight: 500;
}

main > section:nth-of-type(6) summary::-webkit-details-marker {
  display: none;
}

/* Antwoordtekst */
main > section:nth-of-type(6) p {
  margin: 1em 0 0 0;
  line-height: 1.6;
  font-size: 1em;
}

/* onze retour beleid */
main > section:nth-of-type(6) details > p > a[href] {
  all: revert;
  color: var(--primary-text-color);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 400;
}

/* SVG iconen */
main > section:nth-of-type(6) summary svg {
  width: 1.25rem;
  height: auto;
  color: var(--primary-text-color);
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

/* standaard: alleen + zichtbaar */

main > section:nth-of-type(6) summary svg:nth-of-type(2) {
  display: none;
}

/* open state: wissel naar - icoon */

main > section:nth-of-type(6) details[open] summary svg:nth-of-type(1) {
  display: none;
}

main > section:nth-of-type(6) details[open] summary svg:nth-of-type(2) {
  display: inline-block;
}

/*  Animatie open en dicht */
main > section:nth-of-type(6) details::details-content {
  block-size: 0;
  overflow: hidden;
  transition: content-visibility, block-size;
  transition-behavior: allow-discrete;
}

main > section:nth-of-type(6) details[open]::details-content {
  block-size: auto;
}

/* Bron: https://blog.logrocket.com/styling-html-modern-css/ + Chatgpt */

main > section:nth-of-type(7) {
  background-color: var(--color-bg-7);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  overflow: hidden;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* We komen naar je toe */
main section:nth-of-type(7) > h2 {
  margin: 0 0 0.85em 0;
  padding-top: 3em;
  font-size: 1em;
  font-weight: 400;
  color: var(--primary-text-color);
  text-align: center;
}

/* Ervaar het zelf*/
main section:nth-of-type(7) > h3 {
  margin: 0 0 0.375em 0;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: var(--primary-text-color);
}

/* fiets afbeelding */
main section:nth-of-type(7) > img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  transform: scale(1.2);
  transform-origin: center bottom;
  margin-top: 2em;
  padding: 3em 0 3em 0;
}
